.colorFeed
{
  margin: 10px;
}
.colorFeed  input
{
  padding: 10px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.colorFeed  input[type="submit"]
{
    cursor: pointer;
    color: white;
    background-color: #1E2D4C;
    padding: 10px;
}
.box
{
  width: 30%;
  margin: 10px;
  height: 200px;
  border: 1px solid black ;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.8);
  position: relative;
}
.dlt
{
  position: absolute;
  background: #fefefe;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  right: 10px;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}
.box p
{
  height: 25%;
  margin: 0px;
  
}
.box p span{
  display: inline-block;
  color: rgba(63, 61, 61,0.7);
  background-color: #eee;
  margin-left:  10px;
  margin-top:  10px;
  padding: 3px;
  border-radius: 5px;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}